.clientBoardTab{
    position: relative;
    width: 100%;
}
.optionContanier{
    
    margin-bottom: 20px;
    display: flex;
    position: relative;
    
 
}
.elOptionContanier{
    margin-right: 20px;
}

