.App{
    display: flex;
    flex-direction: column;
}
button{
    cursor: pointer;
    border: none;
}
@font-face {
    font-family: 'ShareTechMono';
    src: url('../fonts/ShareTechMono.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'ShareTechMono', monospace;
  }

  .layout{
    margin-top: 70px;

  }
  
  .mainContent{
    margin-left: 60px;
    padding: 20px;

  }